.idea/
bin/
*.exe
*.test
*.out
cover.html
*.coverage.html
vendor/
.DS_Store
git-repositories/
!git-repositories/repo-definition.yaml

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
