.idea/
bin/
*.exe
*.test
*.out
*.html
vendor/
.DS_Store
git-repositories/deployment
git-repositories/docs
git-repositories/applications/**
git-repositories/infrastructure/**
git-repositories/observability
git-repositories/tools
git-repositories/orchestrations